body {
  color: white;
  background-color: #184848;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

p {
  font-weight: 600;
}

.title {
  background-color: #16453f;
  margin: 0 auto;
  height: 30px;
  width: 10%;
  border-radius: 4px;
  justify-content: center;
  margin-bottom: 6px;
}

img {
  max-width: 150px;
}

.planet-card {
  background-color: #006060;
  max-width: 200px;
  border-radius: 10px;
  margin: 4px;
}
.solar-system {
  display: flex;
  justify-content: center;
}

.missions {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 6px;
}

.mission-card {
  background-color: #007878;
  margin: 4px;
  border-radius: 10px;
  min-width: 150px;
}

.p {
  font-family:  sans-serif;
  font-style: italic;
  font-size: 18px;
  font-weight: 300;
}

.footer {
  background-color: #1a2b2b;
  margin: 0 auto;
  padding: 5px;
}
